# This file describes example pools and predefined wallets

pools=$(cat << END
eu1.ethpool.org:3333
ssl://eu2.ethermine.org:5555

END
)

wallets=$( cat << END
0x0000000000000000000000000000000000000000

END
)
